.contenedor_form_login{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 390px;
    height: 540px;
}
.titulo_login {
    text-align: center;
    font-size: 36pxx;
    font-family: 'Roboto', sans-serif;
    margin: 30px auto 20px auto;
}
.input-group {
    margin-bottom: 15px;
    margin: 70px auto;
}

.input-group label {
    display: block;
    margin: 15px auto 5px auto;
    font-weight: bold;
}

.input-group input {
    width: 90%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
}
.input-group input::placeholder{
    font-size: 16px;
    color: #797979;
}
.boton-Ingresar {
    width: 30%;
    padding: 20px;
    background-color: #6a1b9a;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin:  70px 0 0 35%;
}
.boton-Ingresar:hover {
    background-color: #8757a5;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.regis a{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin: -40px 10px 0 38%;
    text-decoration: underline;
    color: grey;
    cursor: pointer;
    font-size: 12px;
}
.regis a:hover {
    color: darkgrey;
}
.form-image {
    max-width: 80%;
    height: 100%;
    margin: 0;
    border-radius: 15px;
}
/*De aca para abajo son el Css del Formulario del Registro*/

.registro-container {
    display:flex;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    height: 100vh;
}

.left-section, .right-section {
    padding: 40px;
    width: 50%;
}

.left-section {
    background-color: #eef7ff;
    text-align: center;
    
}

.left-section h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.left-section p {
    font-size: 16px;
    margin-bottom: 40px;
}
.right-section h2 {
    font-size: 24px;
    margin-bottom: 25px;
}

.right-section p {
    font-size: 16px;
    margin-bottom: 20px;
}

.Formulario-Registro {
    display: flex;
    flex-direction: column;
}

.Formulario-Registro label {
    margin-bottom: 5px;
    font-weight: bold;
}

.Formulario-Registro input {
    padding: 10px;
    margin-bottom: 20px; /* Espaciado entre inputs */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.Formulario-Registro select{
    padding: 10px;
    margin-bottom: 20px; /* Espaciado entre inputs */
    border: 1px solid #ccc;
    background-color:#fff;
    border-radius: 5px;
    font-size: 16px;
}

/* Espaciado adicional para el botón */
.Formulario-Registro button {
    padding: 10px;
    background-color: #005073;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Espacio encima del botón */
    justify-content: center;
    align-items: center;
}

.Formulario-Registro button:hover {
    background-color: #003d56;
}

.signup {
    text-align: center;
    margin-top: 20px;
}

.signup a {
    text-decoration: none;
    color: #007acc;
}

.Formulario-Registro .checkbox-label {
   /* display: flex; /* Usar flexbox para alinear */
    /*align-items: center;  Centrar verticalmente */
    margin: 10px 0 0 10px;
    margin-bottom: 10px; /* Espaciado debajo de cada checkbox */
}

.Formulario-Registro .checkbox-label input {
    margin-right: 5px; /* Espacio a la derecha del checkbox */
}

.form-image {
    max-width: 80%; /* Ajusta el tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 20px 0; /* Espaciado alrededor de la imagen */
}