.contenedor-app {
  display: flex;
  height: 100vh;
}

  .barralateral {
    width: 200px;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.1);
  }

  .barralateral .conversaciones-lista{
    
    margin: 5px;
  }

  .barralateral .conversacion-item{
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .barralateral .conversacion-item:hover{
    background-color: rgb(184, 184, 184);
  }
  .barralateral .seleccionado{
    background-color: #4CAF50; /* Fondo verde cuando está seleccionada */
    color: white;
  }
  
  .contenido-principal {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;  
  }

  .cabecera .cerrar-sesion{
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.4s ease;
    border: none;
    cursor: pointer;
  }

  .cabecera .cerrar-sesion:hover{
    background-color: rgb(242, 113, 113);
    
  }

  .page_chat{
    align-items: none;
  }
  
  .accion-cabecera input {
    padding: 8px;
    margin-right: 10px;
    border-radius: 8px;
  }

  .accion-cabecera button{
    padding: 8px;

  }
  
  .conversacion {
    flex: 1;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    overflow-y: auto;
  }

  
  .mensaje-usuario{
    margin-bottom: 15px;
    display: flex;
    justify-content: end;
  }
  
  .mensaje-bot{
    margin-bottom: 15px;
    display: flex;
    justify-content: start;
  }
  
  .mensaje-usuario p {
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 10px;
    max-width: 60%;
    width: fit-content;
  }
  
  .mensaje-bot p {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    max-width: 60%;
    width: fit-content;
  }
  
  .enviar-mensaje {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .enviar-mensaje input {
    flex: 1;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: rgb(244 244 244);
    border-radius: 20px;
    margin-right: 10px;
  }
  
  .enviar-mensaje button {
    background-color: #6a1b9a;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 20px;
    cursor: pointer;
  }

  .enviar-mensaje button:hover{
    background-color: #6c3a89;
  }
  .enviar-mensaje .carpeta{
    margin: 20px;
    font-size: 22px;
    cursor: pointer;
  }
  
  .Boton-NuevaConversacion{
    border: none;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
